

.main{
    padding-left: 40%;
    padding-top: 5%;
    background-color: red;
  
}

.form{
    display: flex;
    flex-direction: column;
    width: 50%;
}


.createaccount{
    padding: 1%;
    text-decoration: none;
    color: black;
}