
.items{
    height: fit-content;
    width: 80vw;
    margin-left: 10vw;
  
    border-radius: 2px;
    padding: 2%;
    justify-items: center;
}




.create{
    height: 10vh;
    width: 100vw;
    margin-top: 5%;
    margin-left: 35vw;
}

.tableHeaders{
    width: 75vw;
    display: flex;
    justify-content: space-between;
      border: 1px grey solid;
      padding: 5px;
}

.card{
    height: 5vh;
    width: 100%;
    
    padding: 2%;
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
    border-top: none;
    
}
