.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  max-width: 1200px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--foreground);
  padding: 120px 60px;
}

.body{

  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.card{
  background-color: #e6e5e5;
  height: 450px;
  width: 33%;
  padding: 2%;
  border-radius: 3px;
  margin-bottom: 2%;

  }

.imageContainer{
  position: relative;
  background-color: blue;

  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}


.filter{
  display: flex;
  gap: 10px;
  
  margin:2%;
}

.filter button{
  height: 30px;
  width: 100px;
  font-size: 20px;
}