.nav{
    background-color: #b5cbb7;
    display: flex;
  
    min-height: 80px;
}

.customer{
    position: absolute;
    height: 50px;
    
  
    padding: 1vh;
    margin-left: 90vw;
   
}
.customer h3{
    color:#818479 ;
    margin-top: 1vh;
    text-align: center;
}

.customer span{
    display: flex;
    flex-direction: column;

    height: 20vh;
}



.login{
    background-color: #818479  ;
    min-width: fit-content;
    margin: 1vh;
    margin-top: 1vh;
    width: 80px;
    border-radius: 4px;
    border: 2px solid #d2e4c4  ;
    height: 30px;
    text-align: center;
    padding: 3%;
    
    text-decoration: none;
    color: #b5cbb7 ;
}

.imageContainer{
    position: relative;
    height: 300px;
    width: 200px;
    top: -110px;
}

.favs{
    text-decoration: none;
     color: #818479 ;
     font-size: 30px;
}